@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
#icon {
    width: 25px;
}
h1,h2,h3,h4{
    font-weight: 700;
}
.gap2{
    margin-top: 100px;
}
#icon2{
    width: 25px;
    color: #3F87F5;
}
.main{
    background-color: #3F87F5;
    color: white;
}